In [1]:
import pandas as pd
import importlib as il
import sys, os

sys.path.append(os.path.abspath(os.path.join('..', 'modules')))
sys.path.append(os.path.abspath(os.path.join('..', 'ingest')))

# project modules
import ingest as ing

In [76]:
il.reload(ing)
data_dir = '../ingest/data_in/'
ingest = ing.Ingest(data_dir)
parsed_datasets = ingest.read_and_parse()

Dataset: climatetrace_countries
country_name    string
iso3_code       string
dtype: object
(252, 2)
***

Dataset: countries_data
iso3_code           string
pop_density        float64
emission_factor    float64
dtype: object
(256, 3)
***

Dataset: heating_demand_data
climate_zone               int64
heating_demand_factor    float64
dtype: object
(10, 2)
***

Dataset: manual_continents_data
iso3_code         string
continent_name    string
dtype: object
(27, 2)
***

Dataset: ne_countries_continents
continent_name    string
iso3_code         string
dtype: object
(255, 2)
***

Dataset: on_site_heat_data
continent_name     string
oheg_factor       float64
hfa_factor        float64
ohfa_factor       float64
dtype: object
(10, 4)
***

In [78]:
print(ingest.ds_names)
climatetrace_countries = parsed_datasets['climatetrace_countries']
countries_data = parsed_datasets['countries_data']
heating_demand_data = parsed_datasets['heating_demand_data']
manual_continents_data = parsed_datasets['manual_continents_data']
ne_countries_continents = parsed_datasets['ne_countries_continents']
on_site_heat_data = parsed_datasets['on_site_heat_data']

['climatetrace_countries', 'countries_data', 'heating_demand_data', 'manual_continents_data', 'ne_countries_continents', 'on_site_heat_data']

In [79]:
climatetrace_countries

      country_name iso3_code
0            Aruba       ABW
1      Afghanistan       AFG
2           Angola       AGO
3         Anguilla       AIA
4    Åland Islands       ALA
..             ...       ...
247          Samoa       WSM
248          Yemen       YEM
249   South Africa       ZAF
250         Zambia       ZMB
251       Zimbabwe       ZWE

[252 rows x 2 columns]

In [67]:
countries_data

    iso3_code  pop_density  emission_factor
0         ABW     0.000624            199.4
1         AFG     0.000049            199.4
2         AGO     0.000023            199.4
3         AIA     0.000140            199.4
4         ALA     0.000019            199.4
..        ...          ...              ...
251       XSP     0.000000            199.4
252       YEM     0.000064            199.4
253       ZAF     0.000048            199.4
254       ZMB     0.000022            199.4
255       ZWE     0.000039            199.4

[256 rows x 3 columns]

In [80]:
heating_demand_data

   climate_zone  heating_demand_factor
0             1               0.000020
1             2               0.000023
2             3               0.000052
3             4               0.000133
4             5               0.000160
5             6               0.000241
6             7               0.000159
7             8               0.000230
8             9               0.000385
9            10               0.000245

In [69]:
manual_continents_data

   iso3_code           continent_name
0        ALA          Northern Europe
1        BES            North America
2        BVT  Seven seas (open ocean)
3        CCK  Seven seas (open ocean)
4        CXR  Seven seas (open ocean)
5        ESH                   Africa
6        GLP            North America
7        GUF            South America
8        MTQ            North America
9        MYT                   Africa
10       PSE                     Asia
11       REU  Seven seas (open ocean)
12       SJM          Northern Europe
13       SSD                   Africa
14       TKL                  Oceania
15       XAD                     Asia
16       XCA                     <NA>
17       XCL            North America
18       XKO                   Europe
19       XNC                     Asia
20       XPI                     Asia
21       XSP                     Asia
22       DNK          Northern Europe
23       FIN          Northern Europe
24       ISL          Northern Europe
25       NOR          Northern Europe
26       SWE          Northern Europe

In [81]:
ne_countries_continents

    continent_name iso3_code
0             Asia       IDN
1             Asia       MYS
2    South America       CHL
3    South America       BOL
4    South America       PER
..             ...       ...
250           Asia       MAC
251        Oceania       ATC
252  North America       BJN
253  North America       SER
254           Asia       SCR

[255 rows x 2 columns]

In [82]:
on_site_heat_data

            continent_name  oheg_factor  hfa_factor  ohfa_factor
0                   Africa          0.9         0.5         0.45
1               Antarctica          0.0         0.0         0.00
2                     Asia          0.8         0.7         0.56
3                   Europe          0.6         0.9         0.54
4                     <NA>          0.0         0.0         0.00
5            North America          0.7         0.9         0.63
6          Northern Europe          0.3         0.9         0.27
7                  Oceania          0.8         0.5         0.40
8  Seven seas (open ocean)          0.0         0.0         0.00
9            South America          0.8         0.7         0.56

In [170]:
countries_data = parsed_datasets['countries_data']
manual_continents_data = parsed_datasets['manual_continents_data']
countries_data.join(manual_continents_data.set_index('iso3_code')['continent_name'], on='iso3_code')

    iso3_code     country_name  pop_density  emission_factor   continent_name
0         ABW            Aruba       624.00            199.4             <NA>
1         AFG      Afghanistan        48.89            199.4             <NA>
2         AGO           Angola        23.46            199.4             <NA>
3         AIA         Anguilla       140.13            199.4             <NA>
4         ALA            Åland        19.19            199.4  Northern Europe
..        ...              ...          ...              ...              ...
251       XSP  Spratly Islands         0.00            199.4             Asia
252       YEM            Yemen        63.55            199.4             <NA>
253       ZAF     South Africa        48.14            199.4             <NA>
254       ZMB           Zambia        21.80            199.4             <NA>
255       ZWE         Zimbabwe        38.80            199.4             <NA>

[256 rows x 5 columns]